Debug/*
Debug/
/Debug
/Debug/
*.o
*.elf
*.elf
Debug/Core/Src/gpio.d
Debug/Core/Src/gpio.o
Debug/Core/Src/main.d
Debug/Core/Src/main.o
Debug/Core/Src/main.su
Debug/Core/Src/stm32f4xx_hal_msp.d
Debug/Core/Src/stm32f4xx_hal_msp.o
Debug/Core/Src/stm32f4xx_it.d
Debug/Core/Src/stm32f4xx_it.o
Debug/Core/Src/stm32f4xx_it.su
Debug/Core/Src/subdir.mk
Debug/Core/Src/system_stm32f4xx.d
Debug/Core/Src/system_stm32f4xx.o
Debug/Core/Src/usart.d
Debug/Core/Src/usart.o
Debug/Core/Src/usart.su
Debug/makefile
Debug/objects.list
Debug/sources.mk
Debug/STM32_SnakeGameNokia.elf
Debug/Core/Src/gpio.d
Debug/Core/Src/gpio.o
Debug/Core/Src/main.d
Debug/Core/Src/main.o
Debug/Core/Src/main.su
Debug/Core/Src/stm32f4xx_hal_msp.d
Debug/Core/Src/stm32f4xx_hal_msp.o
Debug/Core/Src/stm32f4xx_it.d
Debug/Core/Src/stm32f4xx_it.o
Debug/Core/Src/stm32f4xx_it.su
Debug/Core/Src/subdir.mk
Debug/Core/Src/system_stm32f4xx.d
Debug/Core/Src/system_stm32f4xx.o
Debug/Core/Src/usart.d
Debug/Core/Src/usart.o
Debug/Core/Src/usart.su
Debug/makefile
Debug/objects.list
Debug/sources.mk
Debug/STM32_SnakeGameNokia.elf
Debug/STM32_SnakeGameNokia.list
Debug/STM32_SnakeGameNokia.map
Debug/Core/Src/gpio.d
Debug/Core/Src/gpio.o
Debug/Core/Src/main.d
Debug/Core/Src/main.o
Debug/Core/Src/main.su
Debug/Core/Src/stm32f4xx_hal_msp.d
Debug/Core/Src/stm32f4xx_hal_msp.o
Debug/Core/Src/stm32f4xx_it.d
Debug/Core/Src/stm32f4xx_it.o
Debug/Core/Src/stm32f4xx_it.su
Debug/Core/Src/subdir.mk
Debug/Core/Src/system_stm32f4xx.d
Debug/Core/Src/system_stm32f4xx.o
Debug/Core/Src/usart.d
Debug/Core/Src/usart.o
Debug/Core/Src/usart.su
Debug/makefile
Debug/objects.list
Debug/sources.mk
Debug/STM32_SnakeGameNokia.elf
Debug/STM32_SnakeGameNokia.list
Debug/STM32_SnakeGameNokia.map
Debug/Core/Src/stm32f4xx_it.o
Debug/STM32_SnakeGameNokia.elf
Debug/STM32_SnakeGameNokia.list
Debug/STM32_SnakeGameNokia.map
Debug/Core/Src/usart.o
Debug/Core/Src/main.o
Debug/Core/Src/main.su
Debug/Core/Src/stm32f4xx_it.o
Debug/Core/Src/usart.o
Debug/STM32_SnakeGameNokia.elf
Debug/STM32_SnakeGameNokia.list
Debug/STM32_SnakeGameNokia.map
